/* CSS Document */

body {color: gray;

Portrait

Colour 1: #8e9eab

Colour 2: #eef2f3

Get the CSS Code



background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: 10px solid 
rgba(156,219,255,1.00);}

h1 {color:#f3afcb;}

.additive {color:blue;
color:green;
color:red;}

.subtractive {color: #00FFFF;
color: #FF00FF;
color: yellow;}

.theoryofcolor {color: rgba(168,112,113,1.00)
}
.primary {background-color: yellow;
}
.secondary {color: #9900ff;
}
.tertiary {color: white;
background-color: #07A8E2
}
.colormodels {color: maroon; 
}
.Analogous {color:#F093E8;
}
.Monochromatic {color: #FAEBD7;
}
.Triadic {color: #CD5C5C;
}
.Complementary {color: #9C9C9C;
}
.red {color: red;
}
.orange {color: orange;
}
.yellow {color: yellow;
}
.green {color: green;
}
.blue {color: blue;
}
.violet {color: violet;
}
.black {color: black;
}
.white {color: white;
background-color: #00bbd6;
}
.sources {color: #BBFED3;
}
.examples {color: #9D5A01;
}
